@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<header class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h4>Change your account settings</h4>
    <p class="text-success">@ViewData["StatusMessage"]</p>
</header>

@functions {
    public string Print(string s)
    {
        return s ?? " - ";
    }
}

<hr/>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item clearfix">
                <a asp-controller="Manage" asp-action="ChangeInfo" class="pull-left btn btn-primary">Change info</a>
                <a asp-controller="Manage" asp-action="ChangePassword" class="pull-right btn btn-warning">Change password</a>
            </li>
            <li class="list-group-item clearfix">Full Name<span class="badge pull-right">@Print(Model.User.FullName)</span></li>
            <li class="list-group-item clearfix">Username<span class="badge pull-right">@Model.User.Username</span></li>
            <li class="list-group-item clearfix">Email<span class="badge pull-right">@Model.User.Email</span></li>
        </ul>
        <a asp-controller="Device" asp-action="Index" class="btn btn-primary btn-block">Devices</a>
    </div>
</div>